@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #5c8374;
  height: 100vh;
}

.header .head-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 700px;
  height: 400px;
  background-color: #9ec8b9;
  border-radius: 15px;
  padding: 15px;
}

.header .head-Wrap .icon-Search-Box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
  height: 20%;
}

.header .head-Wrap .icon-Search-Box .icon-Img {
  height: 70px;
  background-color: white;
  border-radius: 50%;
}

.header .head-Wrap .icon-Search-Box #input-Text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
}

.header .head-Wrap .icon-Search-Box .search-Btn {
  padding: 8px 35px;
  border-radius: 5px;
  background-color: #5c8374;
  font-size: inherit;
  font-weight: 600;
  color: white;
  border: solid #1b4242 2px;
  cursor: pointer;
}

.header .head-Wrap .icon-Search-Box .search-Btn:hover {
  background-color: #1b4242;
  border-color: #5c8374;
  color: #5c8374;
}

.header .head-Wrap .icon-Search-Box .search-Btn:active {
  color: #5c8374;
  background-color: #9ec8b9;
}

.header .head-Wrap img {
  height: 40px;
}
