@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  cursor: url(./assets/new.png);
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #5c8374;
  height: 100vh;
}

.header .head-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 700px;
  height: 400px;
  background-color: #9ec8b9;
  border-radius: 15px;
  padding: 15px;
}

.header .head-Wrap .icon-Search-Box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
  height: 20%;
}

.header .head-Wrap .icon-Search-Box .icon-Img {
  height: 70px;
  background-color: #9ec8b9;
  border-radius: 50%;
  border: solid #1b4242 2px;
  user-select: none;
  -webkit-user-drag: none; /* For older versions of Safari and Chrome */
}

.header .head-Wrap .icon-Search-Box #input-Text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  background-color: #5c8374;
  color: white;
  border: solid #1b4242 2px;
}

.header .head-Wrap .icon-Search-Box #input-Text::placeholder {
  background-color: #5c8374;
  color: white;
}

.header .head-Wrap .icon-Search-Box .search-Btn {
  padding: 8px 35px;
  border-radius: 5px;
  background-color: #5c8374;
  font-size: inherit;
  font-weight: 600;
  color: white;
  border: solid #1b4242 2px;
  cursor: pointer;
}

.header .head-Wrap .icon-Search-Box .search-Btn:hover {
  background-color: #1b4242;
  border-color: #5c8374;
  color: #5c8374;
}

.header .head-Wrap .icon-Search-Box .search-Btn:active {
  color: #5c8374;
  background-color: #9ec8b9;
}

.header .head-Wrap .profile-Card {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 80%;
  width: 100%;
  justify-content: space-evenly;
}

.header .head-Wrap .profile-Card .prifle-Pic-Wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.header .head-Wrap .profile-Card .prifle-Pic-Wrap .profile-Img {
  height: 150px;
  background-color: #9ec8b9;
  border-radius: 50%;
  border: solid #1b4242 2px;
  -webkit-user-drag: none; /* For older versions of Safari and Chrome */
}

.header .head-Wrap .profile-Card .profile-Text-Wrap {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #5c8374;
  color: white;
  border-radius: 15px;
}

.header .head-Wrap .profile-Card .profile-Text-Wrap .name-And-Link-Wrap {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.header .head-Wrap .profile-Card .profile-Text-Wrap .name-And-Link-Wrap a {
  font-size: 15px;
  color: white;
  font-weight: 600;
  -webkit-user-drag: none; /* For older versions of Safari and Chrome */
  user-select: none; /* Optional: Disable text selection to prevent dragging in some browsers */
  cursor: alias;
}

.header .head-Wrap .profile-Card .profile-Text-Wrap .bio-Text {
  font-family: inherit;
  padding: 5px;
  height: 100px;
  overflow: auto;
}

.header .head-Wrap .profile-Card .profile-Text-Wrap .repos-Followers-Wrap {
  width: 98%;
}

.header .head-Wrap .profile-Card .profile-Text-Wrap .repos-Followers-Wrap ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  background-color: #1b4242;
  list-style: none;
}
